.title, .info
  text-align: center

.info
  padding-bottom: 10px
  font-size: 1.5em
  font-weight: bold
  
.error, .notice
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  -khtml-border-radius: 20px
  border-radius: 20px
  text-align: center
  left: 0
  right: 0
  display: none
  position: fixed
    
.error
  background-color: #FDD7E4

.notice
  background-color: #D6FFD6
  
.game
  overflow: hidden
  border-bottom: 1px solid
  
.clicky, .context, .purchases
  border: 1px solid
  float: left
  width: 33%
  margin-bottom: -100%
  padding-bottom: 100%

.clicky img
  margin-left: auto
  margin-right: auto
  display: block
  padding: 40px 0px 40px 0px

.clicky .level-info
  text-align: center

.monsters-selector
  padding-left: 10px
  
.monsters-selector .monster
  width: 75px
  display: inline-table
  margin-top: 5px

.monsters-selector .monster .icon
  border-bottom: 1px solid
  
.monster
  border: 1px solid
  min-height: 75px

.monster.pidgey .icon
  background-color: #33CCCC
  
.monster.farfetchd .icon
  background-color: #996699
  
.monster.heliolisk .icon
  background-color: #006633
  
.monster.meowth .icon
  background-color: #FFCC00

.monster .icon
  height: 75px
  width: 75px
  float: left
  
.save-actions
  .button
    text-align: center
    border: 1px solid

.navigation ul, .purchases ul
  padding: 0px
  margin: 0px
  display: table
  width: 100%
  
.navigation-options li, .purchases li
  display: table-cell
  text-align: center

.navigation div.inactive
  display: none

.navigation li.active, .purchases .active
  background-color: #F0F0F0
  
.purchases .menu
  border: 1px solid
 
.purchases li a
  text-decoration: none
  color: black
  display: block
  
.purchases .item
  border: 1px solid
